USE [QLUngHo]
GO
/****** Object:  Table [dbo].[CHI_TIET_DOT_NHAN_UNG_HO]    Script Date: 12/13/2018 7:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DOT_NHAN_UNG_HO](
	[MaDotNhanUngHo] [nvarchar](10) NOT NULL,
	[HinhThucNhanUngHo] [nvarchar](50) NOT NULL,
	[SoLuongNhanUngHo] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_DOT_NHAN_UNG_HO] PRIMARY KEY CLUSTERED 
(
	[MaDotNhanUngHo] ASC,
	[HinhThucNhanUngHo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_DOT_UNG_HO]    Script Date: 12/13/2018 7:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DOT_UNG_HO](
	[MaDotUngHo] [nvarchar](10) NOT NULL,
	[HinhThucUngHo] [nvarchar](50) NOT NULL,
	[SoLuongUngHo] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_DOT_UNG_HO] PRIMARY KEY CLUSTERED 
(
	[MaDotUngHo] ASC,
	[HinhThucUngHo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_VI_UNG_HO]    Script Date: 12/13/2018 7:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_VI_UNG_HO](
	[MaDVUH] [nvarchar](10) NOT NULL,
	[HoTenNguoiDaiDien] [nvarchar](50) NULL,
	[DiaChiNguoiDaiDien] [nvarchar](50) NULL,
	[SoDienThoaiLienLac] [nvarchar](11) NULL,
	[SoCMNDNguoiDaiDien] [nvarchar](11) NULL,
	[SoTaiKhoanNganHang] [nvarchar](11) NULL,
	[TenNganHang] [nvarchar](50) NULL,
	[ChiNhanhNganHang] [nvarchar](50) NULL,
 CONSTRAINT [PK_DON_VI_UNG_HO] PRIMARY KEY CLUSTERED 
(
	[MaDVUH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOT_NHAN_UNG_HO]    Script Date: 12/13/2018 7:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOT_NHAN_UNG_HO](
	[MaDotNhanUngHo] [nvarchar](10) NOT NULL,
	[MaHoDan] [nvarchar](10) NULL,
	[NgayNhanUngHo] [date] NULL,
 CONSTRAINT [PK_DOT_NHAN_UNG_HO] PRIMARY KEY CLUSTERED 
(
	[MaDotNhanUngHo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOT_UNG_HO]    Script Date: 12/13/2018 7:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOT_UNG_HO](
	[MaDotUngHo] [nvarchar](10) NOT NULL,
	[MaDVUH] [nvarchar](10) NULL,
	[NgayUngHo] [date] NULL,
 CONSTRAINT [PK_DOT_UNG_HO] PRIMARY KEY CLUSTERED 
(
	[MaDotUngHo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HO_DAN]    Script Date: 12/13/2018 7:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HO_DAN](
	[MaHoDan] [nvarchar](10) NOT NULL,
	[HoTenChuHo] [nvarchar](50) NULL,
	[ToHoacDoi] [int] NULL,
	[KhoiHoacThon] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](11) NULL,
	[DiaChiNha] [nvarchar](50) NULL,
	[SoKhau] [int] NULL,
	[DienGiaDinh] [nvarchar](50) NULL,
	[LaHoNgheo] [nvarchar](50) NULL,
 CONSTRAINT [PK_HO_DAN] PRIMARY KEY CLUSTERED 
(
	[MaHoDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_TIET_DOT_NHAN_UNG_HO]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DOT_NHAN_UNG_HO_DOT_NHAN_UNG_HO] FOREIGN KEY([MaDotNhanUngHo])
REFERENCES [dbo].[DOT_NHAN_UNG_HO] ([MaDotNhanUngHo])
GO
ALTER TABLE [dbo].[CHI_TIET_DOT_NHAN_UNG_HO] CHECK CONSTRAINT [FK_CHI_TIET_DOT_NHAN_UNG_HO_DOT_NHAN_UNG_HO]
GO
ALTER TABLE [dbo].[CHI_TIET_DOT_UNG_HO]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DOT_UNG_HO_DOT_UNG_HO] FOREIGN KEY([MaDotUngHo])
REFERENCES [dbo].[DOT_UNG_HO] ([MaDotUngHo])
GO
ALTER TABLE [dbo].[CHI_TIET_DOT_UNG_HO] CHECK CONSTRAINT [FK_CHI_TIET_DOT_UNG_HO_DOT_UNG_HO]
GO
ALTER TABLE [dbo].[DOT_NHAN_UNG_HO]  WITH CHECK ADD  CONSTRAINT [FK_DOT_NHAN_UNG_HO_HO_DAN] FOREIGN KEY([MaHoDan])
REFERENCES [dbo].[HO_DAN] ([MaHoDan])
GO
ALTER TABLE [dbo].[DOT_NHAN_UNG_HO] CHECK CONSTRAINT [FK_DOT_NHAN_UNG_HO_HO_DAN]
GO
ALTER TABLE [dbo].[DOT_UNG_HO]  WITH CHECK ADD  CONSTRAINT [FK_DOT_UNG_HO_DON_VI_UNG_HO] FOREIGN KEY([MaDVUH])
REFERENCES [dbo].[DON_VI_UNG_HO] ([MaDVUH])
GO
ALTER TABLE [dbo].[DOT_UNG_HO] CHECK CONSTRAINT [FK_DOT_UNG_HO_DON_VI_UNG_HO]
GO
